h2#mainHeader{
    text-align: center;
    font-family: "Trebuchet MS";
}

div#upper{
    display:flex;
}

div#matrices{
    position: relative;
    margin-top: 7vh;
    left: 5vw;
}

div#equation{
    position: relative;
    margin-top: 7vh;
    left: 25vw;
}

#equation table{
    border-spacing: 3vw 1vh;
}
    #equation td{
        font-family: "Trebuchet MS";
        font-size: 30px;
    }


textarea#matrix1,#matrix2{
    background-color: aliceblue;
    margin: 0 5vw 0 5vw;
}

